<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="http://localhost:5000/css/nav.css" />
    <link rel="stylesheet" href="http://localhost:5000/css/body.css" />
    <link rel="stylesheet" href="http://localhost:5000/css/get.css">
    <link rel="stylesheet" media="screen and (max-width:700px)" href="http://localhost:5000/css/mobile.css"> -->
    <link rel="stylesheet" href="http://urlshortnerbydev.herokuapp.com/css/nav.css" />
    <link rel="stylesheet" href="http://urlshortnerbydev.herokuapp.com/css/body.css" />
    <link rel="stylesheet" href="http://urlshortnerbydev.herokuapp.com/css/get.css">
    <link rel="stylesheet" media="screen and (max-width:700px)"
        href="http://urlshortnerbydev.herokuapp.comcss/mobile.css">

    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        * {
            font-family: "Sen", sans-serif;
        }
    </style>


</head>

<body>
    <%- include("partials/nav.ejs") %>

    <%-body%>
</body>

</html>